* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2 {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s;
}

.col h2:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.col button {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
}

.col button:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.overlap {
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #202020a6;
}

.modal {
    margin-top: 0px;
    transition: .4s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #202020;
    border-radius: 10px;
    padding: 20px;

    color: #fff;
    font-size: 18px;

    -webkit-box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.5);
}

.modal__close {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;

    position: absolute;
    right: 10px;
    top: 2px;
    transform: rotate(45deg);
    transition: .3s;

    font-size: 36px;
}

.modal__close:hover {
    transform: rotate(-45deg);
}

.modal__info{
    text-align: center;
    margin-bottom: 40px;
}

.info {
    position: absolute;
    top: 14px;
    left: 14px;
}

.info i {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 90px;
    padding: 14px 20px;
    border: 2px solid #202020;

    cursor: pointer;
}

.modal__info i {
    display: inline-block;
    margin: 0 auto;
    border-radius: 90px;
    padding: 14px 20px;
    border: 2px solid #fff;
}

.modal__list {
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.4;
}

.modal__list span {
    background: #0076d7;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    padding: 0 4px;
}

.modal__img img {
    width: 50%;
}

.modal__img {
    text-align: center;
}


.overlap__active {
    visibility: inherit;
    opacity: 1;
}

.overlap__active .modal {
    margin-top: -30px;
    transition: .4s;
}